extends ../main.layout.pug

block variables
  - var title = 'Обо мне';

block scripts
  script(src='about.bundle.js')

block content

    include ../common/hero
    +hero('about')

    -
        var articles = [
            {
                title: 'Article1',
                date: '12.07.2017',
                body: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero optio sint a saepe repellat! Sapiente alias quam amet assumenda obcaecati, quibusdam nisi dignissimos cum reiciendis ab sed doloribus nam eaque est impedit molestiae. In fugit sunt quia tenetur unde blanditiis quae voluptatum possimus, consectetur, similique debitis eos fugiat eligendi, saepe, dolorem placeat veniam. Iusto, illo dicta ipsam blanditiis eum molestias delectus quia veritatis. Voluptas facere nobis, neque temporibus, officia modi veritatis id deleniti mollitia soluta necessitatibus incidunt perspiciatis fugiat, a eum similique, nulla totam quasi dicta. Alias dolores cupiditate laborum voluptatem! Eius, minima placeat quam laborum repudiandae maxime nisi deserunt.'
            },
            {
                title: 'Article2',
                date: '12.07.2017',
                body: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero optio sint a saepe repellat! Sapiente alias quam amet assumenda obcaecati, quibusdam nisi dignissimos cum reiciendis ab sed doloribus nam eaque est impedit molestiae. In fugit sunt quia tenetur unde blanditiis quae voluptatum possimus, consectetur, similique debitis eos fugiat eligendi, saepe, dolorem placeat veniam. Iusto, illo dicta ipsam blanditiis eum molestias delectus quia veritatis. Voluptas facere nobis, neque temporibus, officia modi veritatis id deleniti mollitia soluta necessitatibus incidunt perspiciatis fugiat, a eum similique, nulla totam quasi dicta. Alias dolores cupiditate laborum voluptatem! Eius, minima placeat quam laborum repudiandae maxime nisi deserunt.'
            },
            {
                title: 'Article3',
                date: '12.07.2017',
                body: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero optio sint a saepe repellat! Sapiente alias quam amet assumenda obcaecati, quibusdam nisi dignissimos cum reiciendis ab sed doloribus nam eaque est impedit molestiae. In fugit sunt quia tenetur unde blanditiis quae voluptatum possimus, consectetur, similique debitis eos fugiat eligendi, saepe, dolorem placeat veniam. Iusto, illo dicta ipsam blanditiis eum molestias delectus quia veritatis. Voluptas facere nobis, neque temporibus, officia modi veritatis id deleniti mollitia soluta necessitatibus incidunt perspiciatis fugiat, a eum similique, nulla totam quasi dicta. Alias dolores cupiditate laborum voluptatem! Eius, minima placeat quam laborum repudiandae maxime nisi deserunt.'
            },
        ];

    .blog-wrapper
        .box
            svg.traingle(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 1000 85', preserveAspectRatio='none')
                polygon.left(points='0,0   0,85   500.8,85   500.8,75.5')
                polygon.right(points='1000,0   1000,85   500,85   500,75.5')

        section.blog-content.blog

            .blog-content__left
                aside.blog__article-titles
                    ul.blog__article-list
                        each article, index in articles
                            li.blog__article-title
                                a(href=`#${article.title}`).blog__article-link= article.title

                    .blog__article-adaptive-btn#blog__article-adaptive-btn

            .blog-content__right
                each article, index in articles
                    a(name=`${article.title}`)
                    .blog__article
                        .blog__title= article.title
                        .blog__date= article.date
                        p.blog__text.simple-text= article.body

    include ../common/footer


